/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
.carousel {
}
.carousel .img-responsive,
.img-responsive.guitar {
	border:1px solid #949191;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
	-moz-box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
	box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
}

.carousel-control.right,
.carousel-control.left {
	background-image:none;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li,
.carousel-indicators li.active {
	background-color: #337ab7;
}
.navbar-brand {
	display:inline-block;
}
img.ardiel {
	display:inherit;
	width: 60px;
	/*height: 45px;*/
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	margin-top:1px;
	content: url('../img/ardiel.png');
}
img.ardiel:hover {
	content: url('../img/ardiel.png');
}
@media(min-width:767px) {
	img.ardiel:hover {
		-webkit-transform: translateX(-40px) translateY(90px) scale(4);
		-moz-transform: translateX(-40px) translateY(90px) scale(4);
		transform: translateX(-40px) translateY(90px) scale(4);
		-webkit-box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
		-moz-box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
		box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
	}
}
@media(max-width:767px) {
	img.ardiel:hover {
		-webkit-transform: translateX(40px) translateY(90px) scale(4);
		-moz-transform: translateX(40px) translateY(90px) scale(4);
		transform: translateX(40px) translateY(90px) scale(4);
		-webkit-box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
		-moz-box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
		box-shadow: 2px 3px 5px 0px rgba(153, 148, 148, 1);
	}
}